<article class="about  active" data-page="about">

        <header>
          <h2 class="h2 article-title" data-i18n="about_title"></h2>
        </header>

        <section class="about-text">
          <p data-i18n="about_para1"></p>
          <p data-i18n="about_para2"></p>
        </section>


        <!--
          - service
        -->

        <section class="service">

          <h3 class="h3 service-title" data-i18n="service_title"></h3>

          <ul class="service-list">

            <li class="service-item">

              <div class="service-icon-box">
                <svg class="service-icon" aria-hidden="true" focusable="false"><use href="#icon-service-automation"></use></svg>
              </div>

              <div class="service-content-box">
                <h4 class="h4 service-item-title" data-i18n="service_automation_title"></h4>

                <p class="service-item-text" data-i18n="service_automation_desc"></p>
                <div class="tech-stack-tags">
                  <span class="badge">Playwright</span>
                  <span class="badge">Selenium</span>
                  <span class="badge">Cypress</span>
                </div>
              </div>

            </li>

            <li class="service-item">

              <div class="service-icon-box">
                <svg class="service-icon" aria-hidden="true" focusable="false"><use href="#icon-service-speed"></use></svg>
              </div>

              <div class="service-content-box">
                <h4 class="h4 service-item-title" data-i18n="service_perf_title"></h4>

                <p class="service-item-text" data-i18n="service_perf_desc"></p>
                <div class="tech-stack-tags">
                  <span class="badge">JMeter</span>
                  <span class="badge">K6</span>
                </div>
              </div>

            </li>

            <li class="service-item">

              <div class="service-icon-box">
                <svg class="service-icon" aria-hidden="true" focusable="false"><use href="#icon-service-mobile"></use></svg>
              </div>

              <div class="service-content-box">
                <h4 class="h4 service-item-title" data-i18n="service_mobile_title"></h4>

                <p class="service-item-text" data-i18n="service_mobile_desc"></p>
                <div class="tech-stack-tags">
                  <span class="badge">Appium</span>
                </div>
              </div>

            </li>

            <li class="service-item">

              <div class="service-icon-box">
                <svg class="service-icon" aria-hidden="true" focusable="false"><use href="#icon-service-design"></use></svg>
              </div>

              <div class="service-content-box">
                <h4 class="h4 service-item-title" data-i18n="service_manual_title"></h4>

                <p class="service-item-text" data-i18n="service_manual_desc"></p>
                <div class="tech-stack-tags">
                  <span class="badge">Jira</span>
                  <span class="badge">Azure DevOps</span>
                  <span class="badge">ClickUp</span>
                </div>
              </div>

            </li>

            <li class="service-item">

              <div class="service-icon-box">
                <svg class="service-icon" aria-hidden="true" focusable="false"><use href="#icon-service-pipeline"></use></svg>
              </div>

              <div class="service-content-box">
                <h4 class="h4 service-item-title" data-i18n="service_pipeline_title"></h4>

                <p class="service-item-text" data-i18n="service_pipeline_desc"></p>
                <div class="tech-stack-tags">
                  <span class="badge">Docker</span>
                  <span class="badge">Kubernetes</span>
                  <span class="badge">GitHub Actions</span>
                </div>
              </div>

            </li>

            <li class="service-item">

              <div class="service-icon-box">
                <svg class="service-icon" aria-hidden="true" focusable="false"><use href="#icon-service-database"></use></svg>
              </div>

              <div class="service-content-box">
                <h4 class="h4 service-item-title" data-i18n="service_data_title"></h4>

                <p class="service-item-text" data-i18n="service_data_desc"></p>
                <div class="tech-stack-tags">
                  <span class="badge">Postman</span>
                  <span class="badge">SQL</span>
                  <span class="badge">NoSQL</span>
                </div>
              </div>

            </li>

            <li class="service-item">

              <div class="service-icon-box">
                <svg class="service-icon" aria-hidden="true" focusable="false"><use href="#icon-service-leader"></use></svg>
              </div>

              <div class="service-content-box">
                <h4 class="h4 service-item-title" data-i18n="service_leader_title"></h4>

                <p class="service-item-text" data-i18n="service_leader_desc"></p>
                <div class="tech-stack-tags">
                  <span class="badge">Azure DevOps</span>
                  <span class="badge">Jira</span>
                  <span class="badge">ClickUp</span>
                </div>
              </div>

            </li>

            <li class="service-item">

              <div class="service-icon-box">
                <svg class="service-icon" aria-hidden="true" focusable="false"><use href="#icon-service-observability"></use></svg>
              </div>

              <div class="service-content-box">
                <h4 class="h4 service-item-title" data-i18n="service_observability_title"></h4>

                <p class="service-item-text" data-i18n="service_observability_desc"></p>
                <div class="tech-stack-tags">
                  <span class="badge">Monitoring</span>
                  <span class="badge">Logs</span>
                </div>
              </div>

            </li>

          </ul>

        </section>


        <!--
          - testimonials
        -->

        <!-- <section class="testimonials">

          <h3 class="h3 testimonials-title" data-i18n="testimonials_title"></h3>

          <ul class="testimonials-list has-scrollbar">

            <li class="testimonials-item">
              <div class="content-card" data-testimonials-item>

                <figure class="testimonials-avatar-box">
                  <img src="./assets/images/avatar-1.png" data-i18n-alt="testimonial1_name" alt="" width="60" data-testimonials-avatar>
                </figure>

                <h4 class="h4 testimonials-item-title" data-testimonials-title data-i18n="testimonial1_name"></h4>

                <div class="testimonials-text" data-testimonials-text>
                  <p data-i18n="testimonial1_text"></p>
                </div>

              </div>
            </li>

            <li class="testimonials-item">
              <div class="content-card" data-testimonials-item>

                <figure class="testimonials-avatar-box">
                  <img src="./assets/images/avatar-2.png" data-i18n-alt="testimonial2_name" alt="" width="60" data-testimonials-avatar>
                </figure>

                <h4 class="h4 testimonials-item-title" data-testimonials-title data-i18n="testimonial2_name"></h4>

                <div class="testimonials-text" data-testimonials-text>
                  <p data-i18n="testimonial2_text"></p>
                </div>

              </div>
            </li>

            <li class="testimonials-item">
              <div class="content-card" data-testimonials-item>

                <figure class="testimonials-avatar-box">
                  <img src="./assets/images/avatar-4.png" data-i18n-alt="testimonial3_name" alt="" width="60" data-testimonials-avatar>
                </figure>

                <h4 class="h4 testimonials-item-title" data-testimonials-title data-i18n="testimonial3_name"></h4>

                <div class="testimonials-text" data-testimonials-text>
                  <p data-i18n="testimonial3_text"></p>
                </div>

              </div>
            </li>

          </ul>

        </section> -->


        <!--
          - testimonials modal
        -->

        <div class="modal-container" data-modal-container>

          <div class="overlay" data-overlay></div>

          <section class="testimonials-modal">

            <button class="modal-close-btn" data-modal-close-btn>
              <ion-icon name="close-outline"></ion-icon>
            </button>

            <div class="modal-img-wrapper">
              <figure class="modal-avatar-box">
                <img src="./assets/images/avatar-1.png" data-i18n-alt="testimonial1_name" alt="" width="80" data-modal-img>
              </figure>

              <svg class="icon-quote" aria-hidden="true" focusable="false"><use href="#icon-quote"></use></svg>
            </div>

            <div class="modal-content">

              <h4 class="h3 modal-title" data-modal-title data-i18n="testimonial1_name"></h4>

              <time datetime="2021-06-14" data-i18n="testimonial1_date"></time>

              <div data-modal-text>
                <p data-i18n="testimonial1_text"></p>
              </div>

            </div>

          </section>

        </div>


        <!--
          - clients (Personal Projects)
        -->

        <!-- <section class="clients">

          <h3 class="h3 clients-title" data-i18n="clients_title"></h3>

          <ul class="clients-list has-scrollbar">

            <li class="clients-item">
              <a href="https://qarmy.ar">
                <img src="./assets/images/qarmy.png" data-i18n-alt="clients_qarmy_alt" alt="" loading="lazy">
              </a>
            </li>

            <li class="clients-item">
              <a href="#">
                <img src="./assets/images/mendozago.png" data-i18n-alt="clients_mendozago_alt" alt="" loading="lazy">
              </a>
            </li>

            <li class="clients-item">
              <a href="#">
                <img src="./assets/images/logo-3-color.png" data-i18n-alt="clients_logo_alt" alt="" loading="lazy">
              </a>
            </li>

            <li class="clients-item">
              <a href="#">
                <img src="./assets/images/logo-4-color.png" data-i18n-alt="clients_logo_alt" alt="" loading="lazy">
              </a>
            </li>

            <li class="clients-item">
              <a href="#">
                <img src="./assets/images/logo-5-color.png" data-i18n-alt="clients_logo_alt" alt="" loading="lazy">
              </a>
            </li>

            <li class="clients-item">
              <a href="#">
                <img src="./assets/images/logo-6-color.png" data-i18n-alt="clients_logo_alt" alt="" loading="lazy">
              </a>
            </li>

          </ul>

        </section> -->


        <!--
          - Tools & Applications (oculta temporalmente)
        -->
        <!--
        <section class="clients" data-tools-section>
          <h3 class="h3 clients-title" data-i18n="tools_title"></h3>
          <ul class="clients-list has-scrollbar" id="tools-list"
              data-tools-images="playwright.png,selenium.png,cypress.png,appium.png,k6.png,jmeter.png,clickup.png,azure-devops.png,atlassian-jira.png,git.png,github.png,jenkins.png,docker.png,mongo-db.png,my-sql.png,postgre-sql.png,postman.png">
          </ul>
        </section>
        -->

      </article>
