<article class="blog" data-page="blog">

        <header>
          <h2 class="h2 article-title" data-i18n="blog_title"></h2>
        </header>

        <section class="blog-posts">

          <ul class="blog-posts-list">

            <li class="blog-post-item">
              <a href="#">

                <figure class="blog-banner-box">
                  <img src="./assets/images/blog-1.jpg" data-i18n-alt="blog_post1_title" alt="" loading="lazy">
                </figure>

                <div class="blog-content">

                  <div class="blog-meta">
                    <p class="blog-category" data-i18n="blog_post1_category"></p>

                    <span class="dot"></span>

                    <time datetime="2022-02-23" data-i18n="blog_post1_date"></time>
                  </div>

                  <h3 class="h3 blog-item-title" data-i18n="blog_post1_title"></h3>

                  <p class="blog-text" data-i18n="blog_post1_text"></p>

                </div>

              </a>
            </li>

            <li class="blog-post-item">
              <a href="#">

                <figure class="blog-banner-box">
                  <img src="./assets/images/blog-2.jpg" data-i18n-alt="blog_post2_title" alt="" loading="lazy">
                </figure>

                <div class="blog-content">

                  <div class="blog-meta">
                    <p class="blog-category" data-i18n="blog_post2_category"></p>

                    <span class="dot"></span>

                    <time datetime="2022-02-23" data-i18n="blog_post2_date"></time>
                  </div>

                  <h3 class="h3 blog-item-title" data-i18n="blog_post2_title"></h3>

                  <p class="blog-text" data-i18n="blog_post2_text"></p>

                </div>

              </a>
            </li>

            <li class="blog-post-item">
              <a href="#">

                <figure class="blog-banner-box">
                  <img src="./assets/images/blog-3.jpg" data-i18n-alt="blog_post3_title" alt="" loading="lazy">
                </figure>

                <div class="blog-content">

                  <div class="blog-meta">
                    <p class="blog-category" data-i18n="blog_post3_category"></p>

                    <span class="dot"></span>

                    <time datetime="2022-02-23" data-i18n="blog_post3_date"></time>
                  </div>

                  <h3 class="h3 blog-item-title" data-i18n="blog_post3_title"></h3>

                  <p class="blog-text" data-i18n="blog_post3_text"></p>

                </div>

              </a>
            </li>

            <li class="blog-post-item">
              <a href="#">

                <figure class="blog-banner-box">
                  <img src="./assets/images/blog-4.jpg" data-i18n-alt="blog_post4_title" alt="" loading="lazy">
                </figure>

                <div class="blog-content">

                  <div class="blog-meta">
                    <p class="blog-category" data-i18n="blog_post4_category"></p>

                    <span class="dot"></span>

                    <time datetime="2022-02-23" data-i18n="blog_post4_date"></time>
                  </div>

                  <h3 class="h3 blog-item-title" data-i18n="blog_post4_title"></h3>

                  <p class="blog-text" data-i18n="blog_post4_text"></p>

                </div>

              </a>
            </li>

            <li class="blog-post-item">
              <a href="#">

                <figure class="blog-banner-box">
                  <img src="./assets/images/blog-5.jpg" data-i18n-alt="blog_post5_title" alt="" loading="lazy">
                </figure>

                <div class="blog-content">

                  <div class="blog-meta">
                    <p class="blog-category" data-i18n="blog_post5_category"></p>

                    <span class="dot"></span>

                    <time datetime="2022-02-23" data-i18n="blog_post5_date"></time>
                  </div>

                  <h3 class="h3 blog-item-title" data-i18n="blog_post5_title"></h3>

                  <p class="blog-text" data-i18n="blog_post5_text"></p>

                </div>

              </a>
            </li>

            <li class="blog-post-item">
              <a href="#">

                <figure class="blog-banner-box">
                  <img src="./assets/images/blog-6.jpg" data-i18n-alt="blog_post6_title" alt="" loading="lazy">
                </figure>

                <div class="blog-content">

                  <div class="blog-meta">
                    <p class="blog-category" data-i18n="blog_post6_category"></p>

                    <span class="dot"></span>

                    <time datetime="2022-02-23" data-i18n="blog_post6_date"></time>
                  </div>

                  <h3 class="h3 blog-item-title" data-i18n="blog_post6_title"></h3>

                  <p class="blog-text" data-i18n="blog_post6_text"></p>

                </div>

              </a>
            </li>

          </ul>

        </section>

      </article>
