<article class="contact" data-page="contact">

        <header>
          <h2 class="h2 article-title" data-i18n="contact_title"></h2>
        </header>

        <section class="mapbox" data-mapbox>
          <figure>
            <iframe
              data-contact="map"
              src=""
              width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
            </iframe>
          </figure>
        </section>

        <section class="contact-form">

          <h3 class="h3 form-title" data-i18n="contact_form_title"></h3>

          <form action="#" class="form" data-form data-mailto="qualitymasterengineer@gmail.com">

            <div class="input-wrapper">
              <input type="text" name="fullname" class="form-input" data-i18n-placeholder="form_fullname" placeholder="" required data-form-input>

              <input type="email" name="email" class="form-input" data-i18n-placeholder="form_email" placeholder="" required data-form-input>
            </div>

            <textarea name="message" class="form-input" data-i18n-placeholder="form_message" placeholder="" required data-form-input></textarea>

            <button class="form-btn" type="submit" disabled data-form-btn>
              <ion-icon name="paper-plane"></ion-icon>
              <span data-i18n="form_send"></span>
            </button>

          </form>

        </section>

      </article>
