      <nav class="navbar">

        <ul class="navbar-list">

          <li class="navbar-item">
            <button class="navbar-link  active" data-nav-link data-page="about" data-i18n="nav_about"></button>
          </li>

          <li class="navbar-item">
            <button class="navbar-link" data-nav-link data-page="resume" data-i18n="nav_resume"></button>
          </li>

          <li class="navbar-item">
            <button class="navbar-link" data-nav-link data-page="portfolio" data-i18n="nav_portfolio"></button>
          </li>

          <li class="navbar-item">
            <button class="navbar-link" data-nav-link data-page="blog" data-i18n="nav_blog"></button>
          </li>

          <li class="navbar-item">
            <button class="navbar-link" data-nav-link data-page="contact" data-i18n="nav_contact"></button>
          </li>

        </ul>

      </nav>
