<article class="portfolio" data-page="portfolio">

        <header>
          <h2 class="h2 article-title" data-i18n="portfolio_title"></h2>
        </header>

        <section class="projects">

          <ul class="filter-list">

            <li class="filter-item">
              <button class="active" data-filter-btn data-filter-value="all" data-i18n="filter_all"></button>
            </li>

            <li class="filter-item">
              <button data-filter-btn data-filter-value="manual testing" data-i18n="filter_manual"></button>
            </li>

            <li class="filter-item">
              <button data-filter-btn data-filter-value="automation" data-i18n="filter_automation"></button>
            </li>

            <li class="filter-item">
              <button data-filter-btn data-filter-value="performance" data-i18n="filter_performance"></button>
            </li>

          </ul>

          <div class="filter-select-box">

            <button class="filter-select" data-select>

              <div class="select-value" data-selecct-value data-i18n="filter_select"></div>

              <div class="select-icon">
                <ion-icon name="chevron-down"></ion-icon>
              </div>

            </button>

            <ul class="select-list">

              <li class="select-item">
                <button data-select-item data-filter-value="all" data-i18n="filter_all"></button>
              </li>

              <li class="select-item">
                <button data-select-item data-filter-value="manual testing" data-i18n="filter_manual"></button>
              </li>

              <li class="select-item">
                <button data-select-item data-filter-value="automation" data-i18n="filter_automation"></button>
              </li>

              <li class="select-item">
                <button data-select-item data-filter-value="performance" data-i18n="filter_performance"></button>
              </li>

            </ul>

          </div>

          <ul class="project-list">

            <li class="project-item  active" data-filter-item data-category="automation">
              <a href="https://underc0de.org">

                <figure class="project-img">
                  <div class="project-item-icon-box">
                    <ion-icon name="eye-outline"></ion-icon>
                  </div>

                  <img src="./assets/images/project-1.jpg" data-i18n-alt="project1_title" alt="" loading="lazy">
                </figure>

                <h3 class="project-title" data-i18n="project1_title"></h3>

                <p class="project-category" data-i18n="project1_category"></p>

              </a>
            </li>

            <li class="project-item  active" data-filter-item data-category="automation">
              <a href="https://underc0de.org">

                <figure class="project-img">
                  <div class="project-item-icon-box">
                    <ion-icon name="eye-outline"></ion-icon>
                  </div>

                  <img src="./assets/images/project-1.jpg" data-i18n-alt="project2_title" alt="" loading="lazy">
                </figure>

                <h3 class="project-title" data-i18n="project2_title"></h3>

                <p class="project-category" data-i18n="project2_category"></p>

              </a>
            </li>

            <li class="project-item  active" data-filter-item data-category="web development">
              <a href="#">

                <figure class="project-img">
                  <div class="project-item-icon-box">
                    <ion-icon name="eye-outline"></ion-icon>
                  </div>

                  <img src="./assets/images/project-2.png" data-i18n-alt="project3_title" alt="" loading="lazy">
                </figure>

                <h3 class="project-title" data-i18n="project3_title"></h3>

                <p class="project-category" data-i18n="project3_category"></p>

              </a>
            </li>

            <li class="project-item  active" data-filter-item data-category="web design">
              <a href="#">

                <figure class="project-img">
                  <div class="project-item-icon-box">
                    <ion-icon name="eye-outline"></ion-icon>
                  </div>

                  <img src="./assets/images/project-3.jpg" data-i18n-alt="project4_title" alt="" loading="lazy">
                </figure>

                <h3 class="project-title" data-i18n="project4_title"></h3>

                <p class="project-category" data-i18n="project4_category"></p>

              </a>
            </li>

            <li class="project-item  active" data-filter-item data-category="applications">
              <a href="#">

                <figure class="project-img">
                  <div class="project-item-icon-box">
                    <ion-icon name="eye-outline"></ion-icon>
                  </div>

                  <img src="./assets/images/project-4.png" data-i18n-alt="project5_title" alt="" loading="lazy">
                </figure>

                <h3 class="project-title" data-i18n="project5_title"></h3>

                <p class="project-category" data-i18n="project5_category"></p>

              </a>
            </li>

            <li class="project-item  active" data-filter-item data-category="web design">
              <a href="#">

                <figure class="project-img">
                  <div class="project-item-icon-box">
                    <ion-icon name="eye-outline"></ion-icon>
                  </div>

                  <img src="./assets/images/project-5.png" data-i18n-alt="project6_title" alt="" loading="lazy">
                </figure>

                <h3 class="project-title" data-i18n="project6_title"></h3>

                <p class="project-category" data-i18n="project6_category"></p>

              </a>
            </li>

            <li class="project-item  active" data-filter-item data-category="web design">
              <a href="#">

                <figure class="project-img">
                  <div class="project-item-icon-box">
                    <ion-icon name="eye-outline"></ion-icon>
                  </div>

                  <img src="./assets/images/project-6.png" data-i18n-alt="project7_title" alt="" loading="lazy">
                </figure>

                <h3 class="project-title" data-i18n="project7_title"></h3>

                <p class="project-category" data-i18n="project7_category"></p>

              </a>
            </li>

            <li class="project-item  active" data-filter-item data-category="web development">
              <a href="#">

                <figure class="project-img">
                  <div class="project-item-icon-box">
                    <ion-icon name="eye-outline"></ion-icon>
                  </div>

                  <img src="./assets/images/project-7.png" data-i18n-alt="project8_title" alt="" loading="lazy">
                </figure>

                <h3 class="project-title" data-i18n="project8_title"></h3>

                <p class="project-category" data-i18n="project8_category"></p>

              </a>
            </li>

            <li class="project-item  active" data-filter-item data-category="applications">
              <a href="#">

                <figure class="project-img">
                  <div class="project-item-icon-box">
                    <ion-icon name="eye-outline"></ion-icon>
                  </div>

                  <img src="./assets/images/project-8.jpg" data-i18n-alt="project9_title" alt="" loading="lazy">
                </figure>

                <h3 class="project-title" data-i18n="project9_title"></h3>

                <p class="project-category" data-i18n="project9_category"></p>

              </a>
            </li>

            <li class="project-item  active" data-filter-item data-category="web development">
              <a href="#">

                <figure class="project-img">
                  <div class="project-item-icon-box">
                    <ion-icon name="eye-outline"></ion-icon>
                  </div>

                  <img src="./assets/images/project-9.png" data-i18n-alt="project10_title" alt="" loading="lazy">
                </figure>

                <h3 class="project-title" data-i18n="project10_title"></h3>

                <p class="project-category" data-i18n="project10_category"></p>

              </a>
            </li>

          </ul>

        </section>

      </article>
