<article class="resume" data-page="resume">

        <header>
          <h2 class="h2 article-title" data-i18n="resume_title"></h2>
        </header>

        <section class="timeline">

          <div class="title-wrapper">
            <div class="icon-box">
              <ion-icon name="book-outline"></ion-icon>
            </div>

            <h3 class="h3" data-i18n="resume_education"></h3>
          </div>

          <ol class="timeline-list">

            <li class="timeline-item">

              <h4 class="h4 timeline-item-title" data-i18n="resume_istqb_title"></h4>

              <span data-i18n="resume_istqb_period"></span>

              <p class="timeline-text" data-i18n="resume_istqb_desc"></p>

            </li>

            <li class="timeline-item">

              <h4 class="h4 timeline-item-title" data-i18n="resume_qa_title"></h4>

              <span data-i18n="resume_qa_period"></span>

              <p class="timeline-text" data-i18n="resume_qa_desc"></p>

            </li>

            <li class="timeline-item">

              <h4 class="h4 timeline-item-title" data-i18n="resume_ny_title"></h4>

              <span data-i18n="resume_ny_period"></span>

              <p class="timeline-text" data-i18n="resume_ny_desc"></p>

            </li>

            <li class="timeline-item">

              <h4 class="h4 timeline-item-title" data-i18n="resume_high_title"></h4>

              <span data-i18n="resume_high_period"></span>

              <p class="timeline-text" data-i18n="resume_high_desc"></p>

            </li>

          </ol>

        </section>

        <section class="timeline">

          <div class="title-wrapper">
            <div class="icon-box">
              <ion-icon name="book-outline"></ion-icon>
            </div>

            <h3 class="h3" data-i18n="resume_work"></h3>
          </div>

          <ol class="timeline-list">

            <li class="timeline-item">

              <h4 class="h4 timeline-item-title" data-i18n="resume_creative_title"></h4>

              <span data-i18n="resume_creative_period"></span>

              <p class="timeline-text" data-i18n="resume_creative_desc"></p>

            </li>

            <li class="timeline-item">

              <h4 class="h4 timeline-item-title" data-i18n="resume_art_title"></h4>

              <span data-i18n="resume_art_period"></span>

              <p class="timeline-text" data-i18n="resume_art_desc"></p>

            </li>

            <li class="timeline-item">

              <h4 class="h4 timeline-item-title" data-i18n="resume_designer_title"></h4>

              <span data-i18n="resume_designer_period"></span>

              <p class="timeline-text" data-i18n="resume_designer_desc"></p>

            </li>

          </ol>

        </section>

        <section class="skill">

          <h3 class="h3 skills-title" data-i18n="resume_skills"></h3>

          <ul class="skills-list content-card">

            <li class="skills-item">

              <div class="title-wrapper">
                <h5 class="h5" data-i18n="skill_cypress"></h5>
                <data value="60">60%</data>
              </div>

              <div class="skill-progress-bg">
                <div class="skill-progress-fill" style="width: 80%;"></div>
              </div>

            </li>

            <li class="skills-item">

              <div class="title-wrapper">
                <h5 class="h5" data-i18n="skill_testcases"></h5>
                <data value="90">90%</data>
              </div>

              <div class="skill-progress-bg">
                <div class="skill-progress-fill" style="width: 70%;"></div>
              </div>

            </li>

            <li class="skills-item">

              <div class="title-wrapper">
                <h5 class="h5" data-i18n="skill_branding"></h5>
                <data value="90">90%</data>
              </div>

              <div class="skill-progress-bg">
                <div class="skill-progress-fill" style="width: 90%;"></div>
              </div>

            </li>

            <li class="skills-item">

              <div class="title-wrapper">
                <h5 class="h5" data-i18n="skill_wordpress"></h5>
                <data value="50">50%</data>
              </div>

              <div class="skill-progress-bg">
                <div class="skill-progress-fill" style="width: 50%;"></div>
              </div>

            </li>

          </ul>

        </section>

      </article>
